/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
Extra Bold: 800


- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

#5ba0e0
#542795
#ffffff
#000000

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: #5ba0e0;
	--secondary: #542795;
	--white: #ffffff;
	--black: #000000;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Open Sans", sans-serif;
}

.bg {
	background-image: url("../assets/bg.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 68rem;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.container {
	max-width: 130rem;
	width: 90%;
	margin: 0 auto;
}

/*----------------------- navbar --------------------------*/
.navbar {
	display: flex;
	justify-content: space-between;
	padding-top: 3.2rem;
	align-items: center;
}

.list {
	list-style-type: none;
	display: flex;
	gap: 5.2rem;
	color: #ffffff;
	font-weight: lighter;
	align-items: center;
}

.list-item {
	font-size: 1.8rem;
	font-weight: 500;
	transition: all 0.3s;
}

.list-item:hover {
	color: var(--primary);
	cursor: pointer;
}

.list-item button {
	background-color: var(--primary);
	border: none;
	color: var(--white);
	font-size: 1.8rem;
	font-weight: 500;
	padding: 1.4rem 3rem;
	text-transform: uppercase;
	font-weight: lighter;
	transition: all 0.3s;
}

.list-item button:hover {
	background-color: var(--white);
	color: var(--primary);
	cursor: pointer;
}
/*------------------------- hero section -----------------------*/

.hero {
	display: flex;
	justify-content: space-between;
	margin-top: 5.2rem;
	gap: 4rem;
}

.hero-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3.2rem;
}

.hero-left h1 {
	color: var(--white);
	font-size: 4.4rem;
	line-height: 60px;
	line-height: 1.2;
}

.hero-left p {
	color: var(--white);
	font-size: 1.8rem;
	line-height: 1.6;
	font-weight: 400;
}

.hero-btn {
	align-self: flex-start;

	background-color: var(--primary);
	border: none;
	color: var(--white);
	padding: 1.4rem 3rem;
	text-transform: uppercase;
	font-weight: lighter;

	font-size: 1.8rem;
	font-weight: 500;
	font-weight: lighter;

	cursor: pointer;

	transition: all 0.3s;
}

.hero-btn:hover {
	background-color: var(--white);
	color: var(--primary);
	cursor: pointer;
}

.hero-right {
	margin-top: -60px;
}

.hero-right img {
	height: 55rem;
}

/*--------------------- feature section -----------------------*/
.features {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 9.6rem;
}

.feature-left img {
	height: 64rem;
}

.main-text {
	font-size: 3.6rem;
	gap: 3.2rem;
}

.feature-right {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
}

.feature-right div {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.feature-right .list {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	color: var(--black);
	list-style-type: none;
}

.feature-right .list .list-item {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.feature-right .list h1 {
	font-size: 2.4rem;
}

.feature-right .list .list-item p {
	font-size: 1.8rem;
	line-height: 1.6;
	font-weight: 600;
	margin-left: 30px;
}

/*------------------------ customer section --------------------*/

.customer {
	text-align: center;
	margin: 9.6rem 0;
}

.main-heading {
	font-size: 3.6rem;
	margin-bottom: 6.4rem;
}

.customer-cards {
	display: flex;
	justify-content: space-around;
}

.card {
	width: 24rem;
	box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.1);
	border-radius: 30px;

	height: 35rem;
	overflow: hidden;
}

.icon {
	width: 12rem;
	height: 12rem;
	margin: 2.4rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(245, 56, 6, 0.2);
	border-radius: 999px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	padding-top: 2rem;
}

.info h1 {
	font-size: 2.4rem;
}

.info p {
	font-size: 1.6rem;
	line-height: 1.6;
}

.analytics {
	background-color: rgba(255, 193, 58, 0.2);
}

.profile {
	background-color: rgba(101, 255, 58, 0.2);
}

.icon.support {
	background-color: rgba(235, 58, 255, 0.2);
}

.icon img {
	width: 50px;
}

.info-bg {
	padding-bottom: 5rem;
	background-color: var(--secondary);
	color: var(--white);

	border-radius: 30px;
}

.info-bg-hover {
	transition: all 0.8s;
}

.info-bg-hover:hover {
	padding-bottom: 5rem;
	background-color: var(--secondary);
	color: var(--white);

	border-radius: 30px;
}
